# Supabase Frontend (Public keys)
REACT_APP_SUPABASE_URL=https://rgrxntdtwjdjqvememxm.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJncnhudGR0d2pkanF2ZW1lbXhtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEzOTA0OTgsImV4cCI6MjA3Njk2NjQ5OH0.teWGfs66BBs8PGnq57_k2LFU8L-ayvZznjFW0bzx0JE