# Notion Configuration
NOTION_TOKEN=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
NOTION_BLOG_DB_ID=29aff238ab9680c7b29dfeec837774b3
NOTION_EVENTS_DB_ID=29aff238ab9680279ce8fed3306d5fff
NOTION_GUIDES_DB_ID=your_guides_db_id
NOTION_GLOSSARY_DB_ID=your_glossary_db_id
NOTION_TIMELINE_DB_ID=your_timeline_db_id
NOTION_GALLERY_DB_ID=29aff238ab9680c3bc0df01f1aa0f911
NOTION_PROJECTS_DB_ID=your_projects_db_id
NOTION_WORKSHOPS_DB_ID=your_workshops_db_id
NOTION_MEMBERS_DB_ID=29aff238ab968058bb79c275774081be

# Supabase Backend
SUPABASE_URL=https://rgrxntdtwjdjqvememxm.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJncnhudGR0d2pkanF2ZW1lbXhtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTM5MDQ5OCwiZXhwIjoyMDc2OTY2NDk4fQ.RH-S_kgjCSunpcGLFXILrO0VK5Ci_ylNkpergI9i_HQ

PORT=3000
SYNC_SCHEDULE=*/1 * * * *